@model ML.VentaProducto
@{
    ViewData["Title"] = "ResumenCompra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Context.Session.GetString("Producto") == null)
{
    <h2>Tu Carrito esta vacio</h2>

    <div class="row">
        <div class="col-md-12">
            <h5>Vuelve al catalogo para agregar productos a tu carrito</h5>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="float:right">
                    @Html.ActionLink("Volver al catálogo", "ProductoGetAll", "Venta", htmlAttributes: new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h2>Resumen de compra</h2>


    <div class="row">
        <div class="col-md-12">
            <h5>Revise el resumen de su compra.</h5>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div style="float:right">
                @Html.ActionLink("Volver al catálogo", "ProductoGetAll", "Venta", htmlAttributes: new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
    <br />
    <table class="table table-hover table-striped table-bordered table-responsive">
        <thead>
            <tr class="table-secondary">
                <td style="display :none;">id</td>
                <td>Imagen</td>
                <td>Nombre</td>
                <td>Precio</td>
                <td>Stock</td>
                <td>Subtotal</td>
                <td style="text-align: center; vertical-align: middle;">Añadir</td>
                <td style="text-align: center; vertical-align: middle;">Cantidad</td>
                <td style="text-align: center; vertical-align: middle;">Quitar</td>
            </tr>
        </thead>
        <tbody>
            @foreach (ML.Producto producto in Model.VentaProductos)
            {
                <tr>
                    <td style="display :none;">@producto.IdProducto </td>
                    <td>
                        @if (producto.Imagen == null || producto.Imagen == "")
                        {
                            <img id="Img" src="~/Imagenes/default-store-350x350.jpg" style="width:150px ; height:150px" />

                        }
                        else
                        {
                            <img id="Img" src="data:image/*;base64,@producto.Imagen" style="width:150px ; height:150px" />
                        }
                    </td>

                    <td>@producto.Nombre</td>
                    <td>@producto.PrecioVenta</td>
                    <td>@producto.Stock</td>
                    <td>@producto.SubTotal</td>
                    <td style="text-align: center; vertical-align: middle;"><a class="btn btn-success " href="@Url.Action("Add","Venta",new { IdProducto= producto.IdProducto})"><i class="bi bi-plus-square-fill" style="color: mintcream"></i></a></td>
                    <td style="text-align: center; vertical-align: middle;">@producto.Cantidad</td>
                    <td style="text-align: center; vertical-align: middle;"><a class="btn btn-danger" href="@Url.Action("Delete", "Venta", new { idProducto= producto.IdProducto})" onclick="return confirm('Estas seguro que deseas eliminar este producto?');"><i class="bi bi-x-square-fill" style="color: mintcream"></i></a></td>
                </tr>
            }

            <tr class="table-light">
                <td>Total</td>
                <td></td>
                <td></td>
                <td style="text-align: center; vertical-align: middle;">@Model.Total</td>
                <td style="text-align: center; vertical-align: middle;">Pesos</td>
                <td></td>
            </tr>

        </tbody>
    </table>
}

